<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coomeva</title>
    <style>
      @page {
        size: A4;
        margin: 0;
      }

      @font-face {
        font-family: "Nunito";
        src: url("<%= fontPath %>");
        font-style: normal;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: "Nunito", sans-serif;

      }
      main {
        width: 210mm;
        height: 296.2mm;
        margin: 0 auto;
        background-image: url("<%= fondoUrl %>");
        background-size: cover;
        padding: 20mm;
        box-sizing: border-box;
      }

      p,
      li {
        font-size: 14px;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <main>
      <img src="<%= logoUrl %>" alt="Coomeva" />
      <p style="margin-bottom: 0">[Nombre del Cliente Potencial]</p>
      <p style="margin-top: 0; margin-bottom: 0">
        [Cargo del Cliente Potencial]
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
        Toño: <%= data[1].attributes.Empresa %>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
        [Ciudad, Estado, Código Postal]
      </p>
      <p style="margin-top: 0; margin-bottom: 0">[Fecha]</p>
      <p style="margin-bottom: 0">
        <strong>Estimado/a [Nombre del Cliente Potencial].</strong>
      </p>
      <small>Espero que este mensaje le encuentre bien.</small>
      <p style="margin-top: 32px !important">
        Me complace presentarle a Grupo Coomeva, una organizacién lider en la
        prestacién de servicios de salud, financieros y de seguros en toda la
        region. Con una sdlida trayectoria compromiso con Ia excelencia, nuestro
        objetivo es ofrecer soluciones integrales que satisfagan las necesidades
        de nuestros clientes y les brinden tranquilidad y seguridad en cada
        etapa de sus vidas.
      </p>
      <p>
        En Grupo Coomeva, entendemos la importancia de contar con un socio
        confiable que le apoye en el crecimiento y bienestar de su empresa y su
        personal. Por ello, nos gustaria invitarle a conocer mis sobre nuestros
        servicios, que incluyen:
      </p>
      <ul style="margin-bottom: 0">
        <li>
          Salud: Planes de medicina prepagada, servicios de atencién médica de
          alta calidad y programas de bienestar corporativo.
        </li>
        <li>
          Finanzas: Asesorfa financiera, créditos empresariales y soluciones de
          inversién adaptadas a sus necesidades.
        </li>
        <li>
          Seguros: Cobertura completa para su empresa y empleados, incluyendo
          seguros de vida, salud y patrimoniales.
        </li>
      </ul>
      <p style="margin-top: 64px; margin-bottom: 64px">Atentamente,</p>
      <p style="margin-top: 0; margin-bottom: 0">[Su Nombre]</p>
      <p style="margin-top: 0; margin-bottom: 0">[Su Cargo]</p>
      <p style="margin-top: 0; margin-bottom: 0">Grupo Coomeva</p>
      <p style="margin-top: 0; margin-bottom: 0">[Teléfono]</p>
      <p style="margin-top: 0; margin-bottom: 0">[Correo Electrénico]</p>
    </main>
  </body>
</html>
